body {
  background: #cba4a4;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 40px; 
  padding: 40px; 
  border-radius: 10px;
  border-color: #fff;
}


  
}

.containerPrincipal {
  background: #aa635d;
  border-top: 20px solid #897d7d;
  color: #fff;
  padding: 30px;
  width: 95%; 
  
}



h1 {
  font-size: x-large;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#sincirculo{
    list-style: none;
} 
.boton{
   background-color: rgb(194, 180, 164); 
   width: 150px;
   height: 20px; 
   margin-right: 300px; 
   margin-top: 10px;
} 
#tareaInput{
    background-color: whitesmoke 
    width: 150px;
   height: 20px; 
   
    
} 
#cuadro2{
    margin-left: 50px;
    margin-right: 50px; 
    padding: 50px;
    border-radius: 0%;

} 
.circle{
    list-style: circle;
}